*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Raleway", Sans-serif;
    overflow-x: hidden;
}
nav{
    font-family: "Raleway", Sans-serif;
}
.textLogo{
    letter-spacing: -1px;
}
.nav-hero{
    background-image:url("img/topBg.png");
    background-size: contain;
}
.login-btn{
    border: 1px solid #fff;
    border-radius: 50px;
    margin: 0 25px;
}
.topMainBG{
    position: relative;
    width: 100%;
}
.topMain{
    position: absolute;
    width: 33%;
    right: 155px;
    filter: drop-shadow(5px 5px 5px #757575);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}
@keyframes float {
	0% {
    -webkit-filter: drop-shadow(5px 5px 5px #757575);
    filter: drop-shadow(5px 5px 5px #757575);;
		transform: translatey(0px);
	}
	50% {
    -webkit-filter: drop-shadow(5px 5px 5px #757575);
    filter: drop-shadow(5px 5px 5px #757575);
		transform: translatey(-40px);
	}
	100% {
    -webkit-filter: drop-shadow(5px 5px 5px #757575);
    filter: drop-shadow(5px 5px 5px #757575);
		transform: translatey(0px);
	}
}
.slogan{
    color: #FFFFFF;
    font-family: "Raleway", Sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.2em;
    letter-spacing: 0px;
    max-width: 450px;
}
.navbar-nav .nav-item{
    color: #fff;
}
.buyMerch{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #2CBCA5;
    font-weight: 700;
    letter-spacing: 1px;
}
.shop-now a{
    font-family: "Raleway", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.5px;
    fill: #020710;
    color: #020710;
    background-color: transparent;
    background-image: linear-gradient(90deg, #E75469 0%, #A93EF8 100%);
    border-radius:50px;
    box-shadow: 0px 4px 20px 0px rgba(169.00000000000017, 62, 248, 0.23921568627450981);
    padding: 15px 45px 15px 45px;
}
.content1{
    background:#07071B;
}
.content1 img{
    width: 50%;
}
.content1 span{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #2CBCA5;
    font-weight: 700;
    letter-spacing: 1px;
}
.content1 h2{
    color: #FFFFFF;
    font-family: "Raleway", Sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.2em;
    letter-spacing: 0px;
    max-width: 450px;
}