body{
  background-color:  #07071B;

}

.toP{
  background-image:url("./images/topBg.png");
  background-size:cover;
  background-repeat:no-repeat;
}

.featuresBg{
  background-image:url("./images/featuresBg.png");
  background-size:cover;
  background-repeat:no-repeat;
}